body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
  height: max-content;
  padding: 0 1rem;
}

.tabs a {
  text-decoration: none;
  margin-right: 1rem;
  font-size: 16px;

  color: #000;
}
.register {
  display: flex;
  justify-content: center;
  margin-bottom: 1.8rem;
}

.register a {
  color: #000;
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 16px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;

  justify-content: center;
  align-items: center;
  width: calc(25% - 10px);
  max-width: calc(25% - 10px);
  padding: 10px;
  border-bottom: 1px dashed #000;
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  margin-right: 5px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .card {
    min-width: calc(50% - 10px);
  }
}

.card img {
  width: 13rem;
  margin-bottom: 1rem;
}

.description {
  font-size: 12px;
  background-color: #fff5f5;
  padding: 5px;
  border-radius: 2px;
  align-self: flex-end;
  margin-top: auto;
  font-family: Lato;

  margin-bottom: 1rem;
}

.explore {
  background-color: #a20c5a;
  color: white;
  border: none;
  height: 2rem;
  cursor: pointer;
}
.leftCard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: #9e9e9e73;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  width: 200px;
  flex-direction: column;
}
.containerDiv {
  display: flex;
  width: 100%;
}
/* .list {
  list-style-type: none;
  padding-left: initial;
  font-size: 15px;
}
.list li {
  border-bottom: 1px solid #070707;
  padding: 5px;
  margin: 2px;
  font-family: fansong;
  cursor: pointer;
} */
.product-list-nav {
  width: 20%;
  list-style-type: none;
  background-color: lightgray;
}
.product-list-nav > li {
  padding: 15px;
  border-bottom: 1px solid grey;
}
.product-list-nav > li > a {
  color: #333;
  text-decoration: none;
}
.product-list-nav > li > a:hover {
  text-decoration: underline;
}
.price {
  display: flex;
  justify-content: space-between;
}

.heading {
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.cartIcon {
  width: 20px;
  height: 20px;
}

.cartWrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.cartWrapper > a {
  color: #000;
  text-decoration: none;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 16px;
}
.bodyContainer {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.pageContainer {
  max-width: 1200px;
  margin: 0 auto;
}
.rightWrapper {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}
.product-list-main {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}
.product-list-main > .product-box {
  width: calc(25% - 10px);
  max-width: calc(25% - 10px);
  padding: 10px;
  border-bottom: 1px dashed #000;
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  margin-right: 5px;
}
.product-list-main > .product-box > h3 {
  font-size: 16px;
  padding-bottom: 5px;
}
.product-list-main > .product-box > img {
  max-width: 100%;
}
.product-list-main > .product-box > p {
  font-size: 12px;
  background-color: #fff5f5;
  padding: 5px;
  border-radius: 2px;
  align-self: flex-end;
  margin-top: auto;
}
.product-list-main > .product-box > .price-cta-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: auto;
}
.product-list-main > .product-box > .price-cta-section > span {
  font-size: 12px;
  font-weight: bold;
}
.product-list-main > .product-box > .price-cta-section > button {
  padding: 8px 15px;
  background-color: #a20c5a;
  color: #fff;
  outline: none;
  border: none;
  border-radius: 2px;
  cursor: pointer;
}
.product-list-main > .product-box > .price-cta-section > button:hover {
  opacity: 0.9;
}
.product-list-nav-mobile {
  display: none;
}
.only-on-mobile {
  display: none;
}
.product-details-tablet {
  display: none;
}
.hide-on-desktop,
.only-on-mobile {
  display: none;
}
@media (min-width: 768px) and (max-width: 1024px) {
  .hide-on-tablet {
    display: none;
  }
  .product-list-main > .product-box {
    min-width: calc(50% - 10px);
  }
  .product-details-tablet {
    display: flex;
    margin-bottom: 5px;
  }
  .price-cta-section button.hide-on-desktop {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .product-details-tablet > img {
    min-width: 50%;
    max-width: 50%;
  }
  .product-details-tablet > p {
    width: 50%;
    padding: 5px;
    background-color: #f0f0f0;
    border-radius: 2px;
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .rightWrapper {
    width: 100%;
  }
  .hide-on-mobile,
  .product-list-main > .product-box > .price-cta-section.hide-on-mobile {
    display: none;
  }
  .product-list-nav {
    display: none;
  }
  .product-list-nav-mobile {
    width: 97%;
    display: block;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #a20c5a;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  .product-list-nav-mobile option {
    cursor: pointer;
  }
  .product-container-mobile img {
    max-width: 50%;
  }
  .only-on-mobile {
    display: flex;
  }
  .product-details-mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 5px;
  }
  .product-details-mobile p {
    background-color: lightgray;
    padding: 5px;
    border-radius: 2px;
  }
  .product-details-mobile button {
    padding: 10px 15px;
    outline: none;
    background-color: #a20c5a;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    color: #fff;
  }
  .product-list-main {
    width: 100%;
  }
  .product-list-main > .product-box {
    min-width: calc(100% - 10px);
  }
}
